#### Import the necessary libraries

In [1]:
import pandas as pd
from sklearn.naive_bayes import MultinomialNB
import warnings
from sklearn.preprocessing import LabelEncoder

In [2]:
warnings.filterwarnings('ignore')

#### Readin the file

In [3]:
train_data = pd.read_csv('weather_dataset.csv')

In [4]:
train_data

     Outlook Temperature Humidity Windy Class
0      Rainy         Hot     High    No    No
1      Rainy         Hot     High   Yes   Yes
2   Overcast         Hot     High    No   Yes
3      Sunny        Mild     High    No    No
4      Sunny        Cool   Normal    No   Yes
5      Sunny        Cool   Normal   Yes    No
6   Overcast        Cool   Normal   Yes   Yes
7      Rainy        Mild     High    No    No
8      Rainy        Cool   Normal    No   Yes
9      Sunny        Mild   Normal    No   Yes
10     Rainy        Mild   Normal   Yes   Yes
11  Overcast        Mild     High   Yes   Yes
12  Overcast         Hot   Normal    No   Yes
13     Sunny        Mild     High   Yes    No

In [5]:
train_data.shape

(14, 5)

In [6]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Outlook      14 non-null     object
 1   Temperature  14 non-null     object
 2   Humidity     14 non-null     object
 3   Windy        14 non-null     object
 4   Class        14 non-null     object
dtypes: object(5)
memory usage: 688.0+ bytes

#### 'Class' is the target label.

In [7]:
#calculating all the probabilities using training data

total_count = train_data.shape[0]

Yes_data = train_data[train_data['Class'] == 'Yes']
No_data = train_data[train_data['Class'] == 'No']

Yes_count = Yes_data.shape[0]
No_count = No_data.shape[0]

In [8]:
train_data

     Outlook Temperature Humidity Windy Class
0      Rainy         Hot     High    No    No
1      Rainy         Hot     High   Yes   Yes
2   Overcast         Hot     High    No   Yes
3      Sunny        Mild     High    No    No
4      Sunny        Cool   Normal    No   Yes
5      Sunny        Cool   Normal   Yes    No
6   Overcast        Cool   Normal   Yes   Yes
7      Rainy        Mild     High    No    No
8      Rainy        Cool   Normal    No   Yes
9      Sunny        Mild   Normal    No   Yes
10     Rainy        Mild   Normal   Yes   Yes
11  Overcast        Mild     High   Yes   Yes
12  Overcast         Hot   Normal    No   Yes
13     Sunny        Mild     High   Yes    No

#### calculate individual values for each feature and the corresponding categorical value

#### 1. Data distribution for Yes

In [9]:
data_distribution = pd.DataFrame([], columns=['Total', 'Outlook_rainy', 'Outlook_Overcast', 'Outlook_Sunny',
                                              'Temperature_Hot', 'Temperature_Mild', 'Temperature_Cool',
                                             'Humidity_High', 'Humidity_Normal','Windy_Yes', 'Windy_No' ])

In [10]:
yes_outlook_rainy = Yes_data[Yes_data['Outlook'] == 'Rainy'].shape[0]
yes_outlook_Overcast = Yes_data[Yes_data['Outlook'] == 'Overcast'].shape[0]
yes_outlook_Sunny = Yes_data[Yes_data['Outlook'] == 'Sunny'].shape[0]

yes_Temperature_Hot = Yes_data[Yes_data['Temperature'] == 'Hot'].shape[0]
yes_Temperature_Mild = Yes_data[Yes_data['Temperature'] == 'Mild'].shape[0]
yes_Temperature_Cool = Yes_data[Yes_data['Temperature'] == 'Cool'].shape[0]

yes_Humidity_High = Yes_data[Yes_data['Humidity'] == 'High'].shape[0]
yes_Humidity_Normal = Yes_data[Yes_data['Humidity'] == 'Normal'].shape[0]

yes_Windy_Yes = Yes_data[Yes_data['Windy'] == 'Yes'].shape[0]
yes_Windy_No = Yes_data[Yes_data['Windy'] == 'No'].shape[0]

In [11]:
data_distribution.loc['Yes', 'Total'] = Yes_count
data_distribution.loc['Yes', 'Outlook_rainy'] = yes_outlook_rainy
data_distribution.loc['Yes', 'Outlook_Overcast'] = yes_outlook_Overcast
data_distribution.loc['Yes', 'Outlook_Sunny'] = yes_outlook_Sunny
data_distribution.loc['Yes', 'Temperature_Hot'] = yes_Temperature_Hot
data_distribution.loc['Yes', 'Temperature_Mild'] = yes_Temperature_Mild
data_distribution.loc['Yes', 'Temperature_Cool'] = yes_Temperature_Cool
data_distribution.loc['Yes', 'Humidity_High'] = yes_Humidity_High
data_distribution.loc['Yes', 'Humidity_Normal'] = yes_Humidity_Normal
data_distribution.loc['Yes', 'Windy_Yes'] = yes_Windy_Yes
data_distribution.loc['Yes', 'Windy_No'] = yes_Windy_No

In [12]:
print('Total counts of Yes:', Yes_count)
print('\nrainy Outlook under Yes:', yes_outlook_rainy)
print('Overcast Outlook under Yes:', yes_outlook_Overcast)
print('Sunny Outlook under Yes:', yes_outlook_Sunny)
print('\nHot Temperature under Yes:', yes_Temperature_Hot)
print('Mild Temperature under Yes:', yes_Temperature_Mild)
print('Cool Temperature under Yes:', yes_Temperature_Cool)
print('\nHigh Humidity under Yes:', yes_Humidity_High)
print('Normal Humidity under Yes:', yes_Humidity_Normal)
print('\nYes Windy under Yes:', yes_Windy_Yes)
print('No Windy under Yes:', yes_Windy_No)

Total counts of Yes: 9

rainy Outlook under Yes: 3
Overcast Outlook under Yes: 4
Sunny Outlook under Yes: 2

Hot Temperature under Yes: 3
Mild Temperature under Yes: 3
Cool Temperature under Yes: 3

High Humidity under Yes: 3
Normal Humidity under Yes: 6

Yes Windy under Yes: 4
No Windy under Yes: 5

#### 2. Data distribution for No

In [13]:
no_outlook_rainy = No_data[No_data['Outlook'] == 'Rainy'].shape[0]
no_outlook_Overcast = No_data[No_data['Outlook'] == 'Overcast'].shape[0]
no_outlook_Sunny = No_data[No_data['Outlook'] == 'Sunny'].shape[0]

no_Temperature_Hot = No_data[No_data['Temperature'] == 'Hot'].shape[0]
no_Temperature_Mild = No_data[No_data['Temperature'] == 'Mild'].shape[0]
no_Temperature_Cool = No_data[No_data['Temperature'] == 'Cool'].shape[0]

no_Humidity_High = No_data[No_data['Humidity'] == 'High'].shape[0]
no_Humidity_Normal = No_data[No_data['Humidity'] == 'Normal'].shape[0]

no_Windy_Yes = No_data[No_data['Windy'] == 'Yes'].shape[0]
no_Windy_No = No_data[No_data['Windy'] == 'No'].shape[0]

In [14]:
data_distribution.loc['No', 'Total'] = No_count
data_distribution.loc['No', 'Outlook_rainy'] = no_outlook_rainy
data_distribution.loc['No', 'Outlook_Overcast'] = no_outlook_Overcast
data_distribution.loc['No', 'Outlook_Sunny'] = no_outlook_Sunny
data_distribution.loc['No', 'Temperature_Hot'] = no_Temperature_Hot
data_distribution.loc['No', 'Temperature_Mild'] = no_Temperature_Mild
data_distribution.loc['No', 'Temperature_Cool'] = no_Temperature_Cool
data_distribution.loc['No', 'Humidity_High'] = no_Humidity_High
data_distribution.loc['No', 'Humidity_Normal'] = no_Humidity_Normal
data_distribution.loc['No', 'Windy_Yes'] = no_Windy_Yes
data_distribution.loc['No', 'Windy_No'] = no_Windy_No

In [15]:
print('Total counts of No:', No_count)
print('\nrainy Outlook under No:', no_outlook_rainy)
print('Overcast Outlook under No:', no_outlook_Overcast)
print('Sunny Outlook under No:', no_outlook_Sunny)
print('\nHot Temperature under No:', no_Temperature_Hot)
print('Mild Temperature under No:', no_Temperature_Mild)
print('Cool Temperature under No:', no_Temperature_Cool)
print('\nHigh Humidity under No:', no_Humidity_High)
print('Normal Humidity under No:', no_Humidity_Normal)
print('\nYes Windy under No:', no_Windy_Yes)
print('No Windy under No:', no_Windy_No)

Total counts of No: 5

rainy Outlook under No: 2
Overcast Outlook under No: 0
Sunny Outlook under No: 3

Hot Temperature under No: 1
Mild Temperature under No: 3
Cool Temperature under No: 1

High Humidity under No: 4
Normal Humidity under No: 1

Yes Windy under No: 2
No Windy under No: 3

In [16]:
data_distribution

,Total,Outlook_rainy,Outlook_Overcast,Outlook_Sunny,Temperature_Hot,Temperature_Mild,Temperature_Cool,Humidity_High,Humidity_Normal,Windy_Yes,Windy_No
Yes,9,3,4,2,3,3,3,3,6,4,5
No,5,2,0,3,1,3,1,4,1,2,3

#### lets pick  and see the probability for the below condition
Outlook = 'Rainy' ,
Temperature = 'Mild' ,
Humidity = 'Normal' ,
Windy = 'No'

In [18]:
#probability for Yes
# P('Outlook_rainy'/'Yes') * P('Temperature_Mild'/'Yes') * P('Humidity_Normal'/'Yes') * P('Windy_No'/Yes')
P_Yes = (yes_outlook_rainy / Yes_count) * (yes_Temperature_Mild / Yes_count) * (yes_Humidity_Normal / Yes_count) * (yes_Windy_No / Yes_count) * (Yes_count / total_count)

#probability for No
P_No = (no_outlook_rainy / No_count) * (no_Temperature_Mild / No_count) * (no_Humidity_Normal/ No_count) * (no_Windy_No / No_count) * (No_count / total_count)

In [19]:
print('The probability of Yes:', P_Yes)
print('The probability of No:', P_No)

The probability of Yes: 0.026455026455026457
The probability of No: 0.010285714285714285

Conclusion: 
There is a higher chance for 'Yes'.

#### Laplace Smoothing for the scenario Outlook = 'Cloudy', Temperature = 'Mild', Humidity = 'Normal', Windy = 'No'

In [33]:
yes_outlook_cloudy = (0 + 1)/(Yes_count + (4*1))
no_outlook_cloudy = (0 + 1)/(No_count + (4*1))

# P('Outlook_cloudy'/'Yes') * P('Temperature_Mild'/'Yes') * P('Humidity_Normal'/'Yes') * P('Windy_No'/Yes')
P_Yes = (yes_outlook_cloudy / Yes_count) * (yes_Temperature_Mild / Yes_count) * (yes_Humidity_Normal / Yes_count) * (yes_Windy_No / Yes_count) * (Yes_count / total_count)

#probability for No
P_No = (no_outlook_cloudy / No_count) * (no_Temperature_Mild / No_count) * (no_Humidity_Normal/ No_count) * (no_Windy_No / No_count) * (No_count / total_count)


print('The probability of Yes:', P_Yes)
print('The probability of No:', P_No)

The probability of Yes: 0.0006783340116673452
The probability of No: 0.0005714285714285714

The probability for 'Yes' is higher.

#### Redo the same process using sklearn package

In [20]:
train_data['Outlook'] = train_data['Outlook'].replace({'Rainy':0, 'Overcast':1, 'Sunny':2})
train_data['Temperature'] = train_data['Temperature'].replace({'Hot':0, 'Mild':1, 'Cool':2})
train_data['Humidity'] = train_data['Humidity'].replace({'High':0, 'Normal':1})
train_data['Windy'] = train_data['Windy'].replace({'No':0, 'Yes':1})
train_data['Class'] = train_data['Class'].replace({'No':0, 'Yes':1})

In [21]:
train_data

    Outlook  Temperature  Humidity  Windy  Class
0         0            0         0      0      0
1         0            0         0      1      1
2         1            0         0      0      1
3         2            1         0      0      0
4         2            2         1      0      1
5         2            2         1      1      0
6         1            2         1      1      1
7         0            1         0      0      0
8         0            2         1      0      1
9         2            1         1      0      1
10        0            1         1      1      1
11        1            1         0      1      1
12        1            0         1      0      1
13        2            1         0      1      0

In [22]:
train_x = train_data.drop('Class', axis=1)
train_y = train_data['Class']

In [23]:
train_data.columns

Index(['Outlook', 'Temperature', 'Humidity', 'Windy', 'Class'], dtype='object')

In [24]:
test_x = pd.DataFrame([], columns=['Outlook', 'Temperature', 'Humidity', 'Windy'])

In [25]:
test_x['Outlook'] = ['Rainy']
test_x['Temperature'] = 'Mild'
test_x['Humidity'] = 'Normal'
test_x['Windy'] = 'No'

test_x['Outlook'] = test_x['Outlook'].replace({'Rainy':0, 'Overcast':1, 'Sunny':2})
test_x['Temperature'] = test_x['Temperature'].replace({'Hot':0, 'Mild':1, 'Cool':2})
test_x['Humidity'] = test_x['Humidity'].replace({'High':0, 'Normal':1})
test_x['Windy'] = test_x['Windy'].replace({'No':0, 'Yes':1})

In [26]:
test_x

   Outlook  Temperature  Humidity  Windy
0        0            1         1      0

#### Use Multinomial NB

In [27]:
multinomial = MultinomialNB()

In [28]:
multinomial.fit(train_x, train_y)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [29]:
multinomial.predict(test_x)

array([1], dtype=int64)

In [ ]:
The prediction is 'Yes'.